# docker compose up -d redis mongodb mysql postgres rabbitmq elasticsearch kibana
name: "dictapp"
services:
  redis:
    container_name: redis_container
    image: redis:alpine
    restart: always
    ports:
      - "6379:6379"
    command: redis-server --loglevel warning
    volumes:
      - ./docker-volumes/cache:/data
  mongodb:
    container_name: mongodb_container
    image: mongo:latest
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - ./docker-volumes/data:/data/db
  mysql:
    container_name: mysql_container
    image: mysql:latest
    restart: always
    #command: --default-authentication-plugin-mysql_native_password
    environment:
      - MYSQL_USER=dict
      - MYSQL_DATABASE=dict_auth
      - MYSQL_ROOT_PASSWORD=api
      - MYSQL_PASSWORD=api
    ports:
      - "3306:3306"
    volumes:
      - ./docker-volumes/mysql:/var/lib/mysql
  postgres:
    container_name: postgres_container
    image: postgres
    restart: always
    environment:
      - POSTGRES_USER=dict
      - POSTGRES_PASSWORD=api
      - POSTGRES_DB=dict_reviews
    ports:
      - "5432:5432"
    volumes:
      - ./docker-volumes/postgres:/var/lib/postgresql/data
  rabbitmq:
    container_name: rabbitmq_container
    image: rabbitmq:3.13.7-management-alpine
    restart: always
    environment:
      - RABBITMQ_DEFAULT_USER=fixme
      - RABBITMQ_DEFAULT_PASS=fixmepass
    ports:
      # AMQP
      - "5672:5672"
      # Management UI dashboard
      - "15672:15672"
    networks:
      - elastic
  elasticsearch:
    container_name: elasticsearch_container
    image: docker.elastic.co/elasticsearch/elasticsearch-wolfi:9.0.0
    restart: always
    user: "1000:1000"
    init: true
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      ES_JAVA_OPTS: -Xmx1g -Xms1g
      bootstrap.memory_lock: "true"
      discovery.type: single-node
      network.host: 0.0.0.0
      transport.host: 127.0.0.1
      http.host: 0.0.0.0
      xpack.security.enabled: "true"
      xpack.security.authc.api_key.enabled: "true"
      xpack.security.enrollment.enabled: "true"
      xpack.monitoring.collection.enabled: "false"
      xpack.security.authc.token.enabled: "true"
      cluster.routing.allocation.disk.watermark.low: 95%
      cluster.routing.allocation.disk.watermark.high: 97%
      cluster.routing.allocation.disk.watermark.flood_stage: 99%
      # basic ELASTIC USER NAME - elastic
      ELASTIC_PASSWORD: admin1234
      KIBANA_PASSWORD: kibana
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - ./docker-volumes/elasticsearch:/usr/share/elasticsearch/data
      # - ELASTIC_PASSWORD=dict
      # - ELASTIC_PASSWORD=api
    networks:
      - elastic
    # If the command fails (non-zero exit code), Docker marks the container as unhealthy
    # The current healthcheck only checks the return code, not the actual status content
    # For most cases, the simple version is sufficient
    healthcheck:
      # curl -u elastic:admin1234 - Basic authentication (Username: elastic, Password: admin1234)
      # Sends Authorization: Basic <base64-encoded-credentials> header
      test:
        [
          "CMD-SHELL",
          "curl -u elastic:admin1234 http://localhost:9200/_cluster/health || exit 1",
        ]
      interval: 30s
      timeout: 10s
      retries: 5
  kibana:
    container_name: kibana_container
    image: docker.elastic.co/kibana/kibana:9.0.0
    restart: always
    ports:
      - 5601:5601
    environment:
      - ELASTICSEARCH_HOSTS=["http://elasticsearch_container:9200"]
      - ELASTICSEARCH_USERNAME=kibana_system
      - ELASTICSEARCH_PASSWORD=kibana
      # docker compose stop elasticsearch && docker compose rm -f elasticsearch will reset the service token
      - ELASTICSEARCH_SERVICEACCOUNT_TOKEN=AAEAAWVsYXN0aWMva2liYW5hL2ZpeG1lLWtpYmFuYTp0bjBzTk5oV1JGZXJhNVFfaEFubllB
      - XPACK_FLEET_AGENTS_ELASTICSEARCH_HOSTS=["http://elasticsearch_container:9200"]
    networks:
      - elastic
    volumes:
      - ./kibana.yml:/usr/share/kibana/config/kibana.yml:ro
    depends_on:
      - elasticsearch
  notifications:
    container_name: notification_container
    build:
      context: ./microservices/2-notification-service
      dockerfile: Dockerfile.dev
      args:
        NPM_TOKEN: ${NPM_TOKEN}
    restart: always
    ports:
      - 4001:4001
    env_file: ./microservices/2-notification-service/.env
    environment:
      - ENABLE_APM=0
      - NODE_ENV=development
      - CLIENT_URL=http://localhost:3000
      - RABBITMQ_ENDPOINT=amqp://fixme:fixmepass@rabbitmq_container:5672
      - SENDER_EMAIL=adaline.farrell@ethereal.email
      - SENDER_EMAIL_PASSWORD=mr2zUZB1cHe9TWvF2y
      - ELASTIC_SEARCH_URL=http://elastic:admin1234@elasticsearch_container:9200
      - ELASTIC_APM_SERVER_URL=http://localhost:8200
      - ELASTIC_APM_SECRET_TOKEN=
    depends_on:
      elasticsearch:
        condition: service_healthy
      rabbitmq:
        condition: service_started
    networks:
      - elastic
  gateway:
    container_name: gateway_container
    build:
      context: ../server/1-gateway-service
      dockerfile: Dockerfile.dev
      args:
        NPM_TOKEN: ${NPM_TOKEN}
    restart: always
    ports:
      - 4000:4000
    env_file: ../server/1-gateway-service/.env
    environment:
      - ENABLE_APM=0
      - GATEWAY_JWT_TOKEN=3f472800bcd6467b4d3b121d054e57e3
      - JWT_TOKEN=84f8e8de359784c77e032ceb2cb84df8
      - NODE_ENV=development
      - SECRET_KEY_ONE=bbe654fb66cdc50651355f08b5af52ff
      - SECRET_KEY_TWO=034c7c2ebccecc0fbe0703dc4ae9d057
      - CLIENT_URL=http://localhost:3000
      - AUTH_BASE_URL=http://auth_container:4002
      - USERS_BASE_URL=http://localhost:4003
      - GIG_BASE_URL=http://localhost:4004
      - MESSAGE_BASE_URL=http://localhost:4005
      - ORDER_BASE_URL=http://localhost:4006
      - REVIEW_BASE_URL=http://localhost:4007
      - REDIS_HOST=redis://redis_container:6379
      - ELASTIC_SEARCH_URL=http://elastic:admin1234@elasticsearch_container:9200
      - ELASTIC_APM_SERVER_URL=http://localhost:8200
      - ELASTIC_APM_SECRET_TOKEN=
    depends_on:
      elasticsearch:
        condition: service_healthy
      rabbitmq:
        condition: service_started
    networks:
      - elastic

  auth:
    container_name: auth_container
    build:
      context: ../server/3-auth-service
      dockerfile: Dockerfile.dev
    restart: always
    ports:
      - 4002:4002
    env_file: ../server/3-auth-service/.env
    environment:
      - ENABLE_APM=1
      - GATEWAY_JWT_TOKEN=3f472800bcd6467b4d3b121d054e57e3
      - JWT_TOKEN=84f8e8de359784c77e032ceb2cb84df8
      - NODE_ENV=development
      - AP_GATEWAY_URL=http://gateway_container:4000
      - CLIENT_URL=http://localhost:3000
      - RABBITMQ_ENDPOINT=amqp://fixme:fixmepass@rabbitmq_container:5672
      - MYSQL_DB=mysql://dict:api@mysql_container:3306/dict_auth
      - CLOUD_NAME=dwg9ek7pv
      - CLOUD_API_KEY=373746247683531
      - CLOUD_API_SECRET=-iQodxUen3OEQ3UwMd411JTwQpDw
      - ELASTIC_SEARCH_URL=http://elastic:admin1234@elasticsearch_container:9200
      - ELASTIC_APM_SERVER_URL=http://localhost:8200
      - ELASTIC_APM_SECRET_TOKEN=
    depends_on:
      - elasticsearch
      - mysql

networks:
  elastic:
    name: elastic
